@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .align-content {
     @apply mx-auto px-0  lg:px-14;   
    }
}


     @import url(https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;800;900&display=swap);
    
    body {
      font-family: 'Poppins', sans-serif;
      margin-top: 100px;
    };

   .card{
    overflow: hidden;
   }

   .container{
    overflow: hidden;
   }

   .offer{
    overflow: hidden;
   }

 